{% extends 'rentapp_base_generic.html' %}

{% block section_content %}
    <section class="section">
        <div class="columns is-mobile">
            <div class="column">
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white" style="background-color: #fff;border: 1px solid #dd2e23;">
                            <a href="">Bajada 0</a>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white" style="background-color: #fff;border: 1px solid #dd2e23;">
                            <a href="">Bajada 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white" style="background-color: #fff;border: 1px solid #dd2e23;">
                            <a href="">Bajada 2</a>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white" style="background-color: #fff;border: 1px solid #dd2e23;">
                            <a href="">Bajada 3</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white" style="background-color: #fff;border: 1px solid #dd2e23;">
                            <a href="">Bajada 4</a>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white" style="background-color: #fff;border: 1px solid #dd2e23;">
                            <a href="">Bajada 5</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white" style="background-color: #fff;border: 1px solid #dd2e23;">
                            <a href="">Bajada 6</a>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white" style="background-color: #fff;border: 1px solid #dd2e23;">
                            <a href="">Bajada 7</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="loading" class="has-text-centered">
            <span class="icon is-large ">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </span>
        </div>
        <div id="PropertyList"></div>
    </section>

    <script>
        $(document).ready(function () {
            filterProperties('{{ parameter }}');
        })
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= ($(document).height()-100) && ($('#scroll-page-property').length > 0 ) && (currentPage <numPages) && nextLoaded == true) {
                nextLoaded = false;
                $('#scroll-page-property').removeClass('is-hidden');
                filterProperties('{{ parameter }}',nextPage);
            }
        });
    </script>
{% endblock %}