{% extends 'rentapp_base_generic.html' %}

{% block section_content %}
    <section>
        <div id="loading" class="has-text-centered">
            <span class="icon is-large ">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </span>
        </div>
        <div id="PropertyList"></div>
    </section>

    <script>
        $(document).ready(function () {
            filterProperties('{{ parameter }}');
        })
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= ($(document).height()-100) && ($('#scroll-page-property').length > 0 ) && (currentPage <numPages) && nextLoaded == true) {
                nextLoaded = false;
                $('#scroll-page-property').removeClass('is-hidden');
                filterProperties('{{ parameter }}',nextPage);
            }
        });
    </script>
{% endblock %}