{% extends 'rentapp_base_generic.html' %}

{% block section_content %}
    <section class="section">
        <h4 class="title is-6"> Cercano a: </h4>
        <div class="columns is-mobile">
            <div class="column">
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white is-small is-primary" style="">
                            <span class="small"><a href="" style="color: white;">Terraza al mar</a></span>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white is-small is-primary" style="">
                            <span class="small"><a href="" style="color: white;">La Rinconada</a></span>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white is-small is-primary" style="">
                            <a href="" style="color: white;">Bajada 0</a>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white is-small is-primary" style="">
                            <a href="" style="color: white;">Bajada 1</a>
                        </div>                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white is-small is-primary" style="">
                            <a href="" style="color: white;">Bajada 2</a>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white is-small is-primary" style="">
                            <a href="" style="color: white;">Bajada 3</a>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white is-small is-primary" style="">
                            <a href="" style="color: white;">Bajada 4</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white is-small is-primary" style="">
                            <a href="" style="color: white;">Bajada 5</a>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white is-small is-primary" style="">
                            <a href="" style="color: white;">Bajada 6</a>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="tag is-rounded is-white is-small is-primary" style="">
                            <a href="" style="color: white;">Bajada 7</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="loading" class="has-text-centered">
            <span class="icon is-large ">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </span>
        </div>
        <div id="PropertyList"></div>
    </section>

    <script>
        $(document).ready(function () {
            filterProperties('{{ parameter }}');
        })
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= ($(document).height()-100) && ($('#scroll-page-property').length > 0 ) && (currentPage <numPages) && nextLoaded == true) {
                nextLoaded = false;
                $('#scroll-page-property').removeClass('is-hidden');
                filterProperties('{{ parameter }}',nextPage);
            }
        });
    </script>
{% endblock %}