{% extends 'mysite_base.html' %}
{% load static %}

{% block links_head %}
    {% with 'v1' as version %}
        <meta charset="UTF-8">
        <title> Busca Tu Lugar </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/global_styles/css/fontawesome/web-fonts-with-css/css/fontawesome-all.css"/>
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="/static/global_styles/css/bulma.css"/>
        <link rel="stylesheet" href="/static/global_styles/css/main.css"/>
        <link rel="stylesheet" href="/static/RentApp/main/css/main.css?{{ version }}"/>
        <link rel="stylesheet" href="/static/global_styles/css/tipped/tipped.css?{{ version }}"/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDQiJWTpKN1IFpG5pBrTXI2k6ikW5xBvYM&amp;language=en&amp;libraries=places"></script>
        <script src="https://unpkg.com/flatpickr"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <link rel="stylesheet" href="/static/RentApp/main/css/select2.css?{{ version }}"/>
        <script src="https://unpkg.com/flatpickr"></script>
        <script src="/static/global_styles/js/tipped/tipped.js"></script>

    {% endwith %}
{% endblock %}


{% block apps_content %}
    {% block sub_navbar %}
    {% endblock %}
    <nav class="nav nav-profile">
        <div class="container">
            <div class="nav-left is-hidden-mobile">
                    L
            </div>
            <div class="nav-center">
                <a class="nav-item is-tab {% if 'alquilar' in request.path %}is-active{% endif %}"
                   href="{% url 'index' %}">
                  <i class="fa fa-home"></i>
                </a>
                <a class="nav-item is-tab"
                   href="">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
                <a class="nav-item is-tab"
                   href="{% url 'map_section' %}">
                   <i class="fa fa-map-marker"></i>

                </a>
            </div>
            <div class="nav-right is-hidden-mobile">
                R
            </div>
        </div>
    </nav>
    {% block content %}
        <div style="padding-top: 20px;"></div>
        {% block section_content %}
             <!-- Herarchy root -->
        {% endblock %}
    {% endblock %}
    <div id="modalContentLog" class="container is-hidden"></div>
    <script src="/static/RentApp/main/js/main.js"></script>
{% endblock %}